.Project {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  gap: 27px;
  width: 800px;
  padding: 28px;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px #2f2f6a12, 0 2.28853px 2.28853px -2.5px #2f2f6a10, 0 10px 10px -3.75px #2f2f6a06;
}

.Project-nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.Project-nav h2 {
  font-optical-sizing: auto;
  color: #424257;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.Project-body {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 0 0 12px 0;
  margin-top: 15px;
  gap: 27px;
  box-shadow: 0 .602187px .602187px -1.25px rgba(47, 47, 106, .07), 0 2.28853px 2.28853px -2.5px rgba(47, 47, 106, .063), 0 10px 10px -3.75px rgba(47, 47, 106, .024);
}

.Project-nav-button {
  cursor: pointer;
  color: #424257;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 165px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 12px;
  transition: all .4s;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px #2f2f6a12, 0 2.28853px 2.28853px -2.5px #2f2f6a10, 0 10px 10px -3.75px #2f2f6a06;
  background-color: transparent;
  border: none;
}

.Project-nav-button:hover {
  background-color: #808092;
  color: white;
}

.Project-nav-button:hover svg {
  color: white;
}

.Project-nav-button svg {
  color: #424257;
  width: 16px;
  font-size: 14px;
}

.Project-body-item {
  border-radius: 12px;
  gap: 10px;
  width: 100%;
  flex-direction: column;
  padding: 5px 8px;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px rgba(47, 47, 106, .07), 0 2.28853px 2.28853px -2.5px rgba(47, 47, 106, .063), 0 10px 10px -3.75px rgba(47, 47, 106, .024);
}

.Project-body-item-right {
  flex-direction: column;
  gap: 6px;
  display: flex;
}

.Project-body-item-left img {
  width: 38px;
  aspect-ratio: 1 / 1;
}

.Project-body-item-right h4 {
  font-optical-sizing: auto;
  color: #424257;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.Project-body-item-right p {
  font-optical-sizing: auto;
  color: #8b8ba7;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.Project-body-item-top {
  display: flex;
  gap: 24px;
}

.Project-body-item-bot {
  display: flex;
  gap: 24px;
}

.Project-body-item-top-left img {
  border-radius: 100000000px;
  width: 42px;
}

.Project-body-item-top-left {
  width: 44px;
}

.Project-body-item-top-right h2 {
  font-optical-sizing: auto;
  color: #424257;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.Project-body-item-top-right p {
  font-optical-sizing: auto;
  color: #8b8ba7;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.Project-body-item-bot-left div {
  opacity: 1;
  background-color: #8b8ba7;
  border-radius: 1px;
  width: 2px;
  height: 2px;
}

.Project-body-item-bot-left {
  width: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.Project-body-item-bot {
  display: flex;
}

.Project-body-item-bot-right {
  color: #8b8ba7;
  font-size: 16px;
  line-height: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.Project-body-item-bot-right-text {
  color: #8b8ba7;
  margin: 0;
  font-size: 16px;
  line-height: 1.8em;
}

.Project-body-item-top-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

@media (max-width: 900px) {
  .Project {
    width: 95vw;
  }
}