.Page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  flex-direction: column;
  gap: 30px;
  padding: 24px 24px 63px;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

@media (max-width: 900px) {
  .Page {
    padding: 10px;
    justify-content: flex-start;
    align-items: stretch;
    display: flex;
  }
}
