:root {
  --backgroundColor: #F9F9FB;
  --titleColor: #424257;
  --cardbackgroundcolor: #fff;
  --shadow: 0 .602187px .602187px -1.25px rgba(47, 47, 106, .07), 0 2.28853px 2.28853px -2.5px rgba(47, 47, 106, .063), 0 10px 10px -3.75px rgba(47, 47, 106, .024)
}