body, html {
  background-color: #F9F9FB;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-y;
}

.borderpulse-container {
  position: relative;
}
