.Stack {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 24px;
  flex-direction: column;
  gap: 27px;
  width: 800px;
  padding: 28px;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px #2f2f6a12, 0 2.28853px 2.28853px -2.5px #2f2f6a10, 0 10px 10px -3.75px #2f2f6a06;
}

.Stack-nav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.Stack-nav h2 {
  font-optical-sizing: auto;
  color: #424257;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.Stack-body {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 0 0 12px 0;
  margin-top: 15px;
  gap: 27px;
  box-shadow: 0 .602187px .602187px -1.25px rgba(47, 47, 106, .07), 0 2.28853px 2.28853px -2.5px rgba(47, 47, 106, .063), 0 10px 10px -3.75px rgba(47, 47, 106, .024);
}

.Stack-nav-button {
  cursor: pointer;
  color: #424257;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 165px;
  font-size: 14px;
  padding: 8px 12px;
  transition: all .4s;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px #2f2f6a12, 0 2.28853px 2.28853px -2.5px #2f2f6a10, 0 10px 10px -3.75px #2f2f6a06;
  background-color: transparent;
  border: none;
}

.Stack-nav-button:hover {
  background-color: #808092;
  color: white;
}

.Stack-nav-button:hover svg {
  color: white;
}

.Stack-nav-button svg {
  color: #424257;
  width: 16px;
  font-size: 14px;
}

.Stack-body-item {
  cursor: default;
  align-items: center;
  border-radius: 12px;
  gap: 10px;
  width: 220px;
  height: 61px;
  display: flex;
  box-shadow: 0 .602187px .602187px -1.25px #2f2f6a12, 0 2.28853px 2.28853px -2.5px #2f2f6a10, 0 10px 10px -3.75px #2f2f6a06;
}

.Stack-body-item-right {
  flex-direction: column;
  gap: 6px;
  display: flex;
}

.Stack-body-item-left img {
  width: 38px;
  aspect-ratio: 1 / 1;
}

.Stack-body-item-right h4 {
  font-optical-sizing: auto;
  color: #424257;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 500;
}

.Stack-body-item-right p {
  font-optical-sizing: auto;
  color: #8b8ba7;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 900px) {
  .Stack {
    width: 95vw;
  }

  .Stack-body-item {
    width: 100% !important;
  }
}